{
    "PostgreSQLConnection": "",
    "DaprDiscordServerId" : "",
    "DiscordBotToken" : "",
    "DaprStatsGitHubPAT" : "",
    "DataDogApiKey" : "",
    "DataDogAppKey" : "",
    "ScarfApiToken" : ""
}